<div class="banner">
  <h1>Create your own cocktail recipe.</h1>
  <%= link_to "Add Cocktail", new_cocktail_path, class:"button" %>
</div>

<div class="container mt-3 d-flex flex-row">
  <div class="cards">
      <% @cocktails.each do |cocktail| %>
    <div class="card">
        <%= link_to cocktail_path(cocktail), :action => 'go' do %>
          <%= cl_image_tag cocktail.photo, class: "lp-photo" %>
          <div class="lp-name"><%= cocktail.name.capitalize %></div>
          <%#= link_to " 🗑", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    </div>
      <% end %>
  </div>
</div>
