<div class="subtitle">Add ingredients here</div>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, label: false %>
    <%= f.input :description, placeholder: "Amount", label: false %>
    <%= f.submit "Add", class: "dose-btn" %>
  <% end %>
