.form {
  margin: 50px auto;
  text-align: center;
}

.form-group {
  width: 50%;
}

.form-box {
  text-align: -webkit-center;
  width: 70%;
  height: 60%;
  margin: 0px auto;
  padding: 50px;
  border: 5px solid orange;
  border-radius: 5px;
}

.field {
  width: 60%;
  text-align: center;
  margin: 50px auto;
}
