.lp-photo {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.sh-photo {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 80vh;
}
